.container {
 display: flex;
background-color:#28445c;
max-width: 768px;
margin: 0 auto;
}

.item {
 background-color:#1fbaac;
padding: 35px;
font-size: 30px;
flex: 0 0 5%;
margin: 50px auto;
border-radius: 10px;
color:white;
}

